<div class="modal fade" id="anfrage" tabindex="-1" role="dialog" aria-labelledby="anfrageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="anfrageLabel">Anfrage senden</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"><button type="button" class="btn btn-success" id="anfrageDoneBtn" data-dismiss="modal">senden</button></div>
    </div>
  </div>
</div>