<div id="detail">

	<div class="row" style="margin-left: 0px; background-color: #f6f6f6;">
		<div class="col-md-3" style="padding: 0px;"><img src="http://lorempixel.com/300/225/people" class="img-responsive"></div>
		<div class="col-md-9" style="padding-left: 30px;">
			<div class="row"><div class="col-md-12"><h4>Canon 100mm 1:2.8 L Makro</h4></div></div>
			<div class="row">
				<div class="col-md-2"><p>Marke<br />Bajonett<br />Objektivtyp<br />Brennweite<br />Lichtst&auml;rke<br /></p><p>Standort<br />Besitzer</p></div>
				<div class="col-md-4"><p>Canon<br />EF<br />Fixbrennweite<br />100mm<br />1:2.8</p><p>St. P&ouml;lten<br />Mani 1 (98% positiv)</p></div>
				<div class="col-md-3"><div id="datepicker-lendingTime" style="margin-top:-20px;"><input type="text" id="input"></div></div>
				<div class="col-md-3" id="anfrageSendenDiv"><button type="button" class="btn btn-success" id="anfrageBtn" data-toggle="modal" data-target="#anfrage">Anfrage senden</button></div>

				<script type="text/javascript">
	            $(document).ready(function () {
		            $('#input').hide();
		            
		            $('#datepicker-lendingTime').datepicker({
		                format: "dd/mm/yyyy",
		                multidate: true,
		                clearBtn: true,
		                pickTime: false,
		                startDate: '+0d',
		                endDate: '+31d'
		            });
		            
		            $('#datepicker-lendingTime').datepicker().on('changeDate', function (e) {
	   					 $('#input').val(e.format());
	   					 if($('#input').value == ""){
	   					 	alert("hello");
	   					 }

	   					 $('#anfrageSendenDiv').show();
					});

					$('#anfrageSendenDiv').hide()
	            });
	       		</script>
			</div>
		</div>
	</div>

	<div class="row" style="padding-top: 30px; margin-left: 0px;">
		<div class="row"><div class="col-md-12"><h4>Ähnliche Artikel</h4></div></div>

	    <div class="col-md-3">
	        <div class="row"><div class="col-lg-12"><a href="#" id="detailLink" data-target="#detail"><img src="http://lorempixel.com/240/130/people" class="img-responsive"></a></div></div>
	        <div class="row greyBox">
		        <div class="row"><div class="col-md-12"><a href="#" id="detailLink" data-target="#detail"><h4>Canon 100mm 1:28 L Makro</h4></a></div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
		    </div>
	    </div>

	    <div class="col-md-3">
	        <div class="row"><div class="col-lg-12"><a href="#" id="detailLink" data-target="#detail"><img src="http://lorempixel.com/240/130/people" class="img-responsive"></a></div></div>
	        <div class="row greyBox">
		        <div class="row"><div class="col-md-12"><a href="#" id="detailLink" data-target="#detail"><h4>Canon 100mm 1:28 L Makro</h4></a></div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
		        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
		    </div>
	    </div>
	</div>
</div>