<div class="row row-margin">
    <div class="col-lg-2">
        <img src="http://lorempixel.com/200/150/people" class="img-responsive">
    </div>
    <div class="col-lg-5 profile-data">
        <div class="row">
            <h3 id="profileUsername">Username</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span id="profileMail">mustername@mustermail.com</span>
            </div>
            <div class="col-lg-1">
                <a href="#"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                geb. <span id="profileBirthyear">1981</span>
            </div>
            <div class="col-lg-1">
                <a href="#"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                aus <span id="profilePlace">Musterstadt</span>
            </div>
            <div class="col-lg-1">
                <a href="#"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                Tel. <span id="profilePhone">0664/1234567</span>
            </div>
            <div class="col-lg-1">
                <a href="#"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="row">
            <a href="#">Passwort ändern</a>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row row-sm-margin">
            <h3>Meine Bewertungen | 85 % positiv</h3>
        </div>
        <div class="row bewertungen">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i>johndoe</i> bewertete: <b>Canon 100mm 1:28 L Makro</b> (<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>)
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <i>maxmustermann</i> bewertete: <b>Canon 100mm 1:28 L Makro</b> (<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i>)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 row-margin">
    <div class="row">
        <h3>Anfragen und Bestätigungen</h3>
    </div>
    <div class="row anfragen">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-10">
                    <p>Anfrage von <i>johndoe</i> bezüglich <b>Canon 100mm 1:28 L Makro</b> im Zeitraum von <b>07.01.2015</b> bis <b>08.01.2015</b></p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Bestätigen</button>
                    <button class="btn btn-default">Ablehnen</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-10">
                    <p>Anfrage an <i>johndoe</i> bezüglich <b>Canon 250mm 1:14 M Makro</b> im Zeitraum von <b>15.01.2015</b> bis <b>17.01.2015</b></p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default">Zurücknehmen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Mein Inventar hinzufügen</h3>
    </div>
</div>

<div class="row" style="padding-top: 20px; ">
    <div class="col-md-3">
        <div class="row"><div class="col-lg-12"><img src="http://lorempixel.com/230/130/technics" class="img-responsive"></div></div>
        <div class="row"><div class="col-md-12"><h4>Canon 100mm 1:28 L Makro</h4></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
    </div>

    <div class="col-md-3">
        <div class="row"><div class="col-lg-12"><img src="http://lorempixel.com/230/130/business" class="img-responsive"></div></div>
        <div class="row"><div class="col-md-12"><h4>Canon 100mm 1:28 L Makro</h4></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star-half"></i></i></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
    </div>

    <div class="col-md-3">
        <div class="row"><div class="col-lg-12"><img src="http://lorempixel.com/230/130/sports" class="img-responsive"></div></div>
        <div class="row"><div class="col-md-12"><h4>Canon 100mm 1:28 L Makro</h4></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
    </div>

    <div class="col-md-3">
        <div class="row"><div class="col-lg-12"><img src="http://lorempixel.com/230/130/animals" class="img-responsive"></div></div>
        <div class="row"><div class="col-md-12"><h4>Canon 100mm 1:28 L Makro</h4></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-user"></i> Heribert25</div></div>
        <div class="row"><div class="col-md-12"><i class="fa fa-map-marker"></i> St. Pölten</div></div>
    </div>
</div>